/* ROWS CSS */
.row{
    color: white;
    margin-left: 2%;
}

.row_posters{
    /* style: */
    display: flex;
    justify-content: space-between;
    padding: 2%;
    /* scrollbars: */
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth initial;
}

.row_posters::-webkit-scrollbar{
    display: none;  /* No mostrar scrollbars, pero mantener la funcionalidad */
}

.row_poster{
    object-fit: contain;
    max-height: 350px;
    width: min-content;
    margin-right: 0.5%;
    /* Efectos: */
    transition: transform 500ms ease-in-out;
}

.row_poster:hover{
    transform: scale(1.1);
}