/* Backdrop CSS */

.backdrop {
  color: white;
  margin-left: 2%;
  object-fit: contain;
  min-height: 100vh;
  position: center center;
  opacity: 0.7;
}

.backdrop_title {
  font-size: x-large;
  min-width: 40vw;
  max-width: 60vw;
  padding: 2%;
}

.backdrop_logo {
  padding: 2%;
}

.backdrop_description {
  font-size: x-large;
  min-width: 30vw;
  max-width: 40vw;
  position: bottom left;
  padding: 2%;
}

.backdrop_buttons_div {
  padding: 2%;
}

.backdrop_buttons {
  font-size: x-large;
  color: white;
  padding: 1%;
  margin: 1%;
  min-width: 15vw;
  max-width: 20vw;
  min-height: 5vw;
  max-height: 10vw;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 5%;
}

.backdrop_buttons:hover {
  transform: scale(1.03);
}

.backdrop_buttons: ;
